/*
---------------------------------------------------------------------------
    WARNING! All changes made in this file will be lost!
---------------------------------------------------------------------------

ui-background: Default page background
interactive-01: Primary interactive color, Primary buttons, 
interactive-02: Secondary interactive color, Secondary button, 
interactive-03: 4.5:1 AA contrast, Tertiary button
interactive-04: 3:1 AA contrast, Selected elements, Active elements, Accent icons, 
danger: Danger button background, 3:1 AA contrast 
ui-01: Container background on ui-background, Secondary page background
ui-02: Container background on ui-01, `Light` variant background
ui-02-alt: Container background on ui-01, `Light` variant background
ui-03: Subtle border, Tertiary background
ui-04: 3:1 aa element contrast, Medium contrast border
ui-05: 4.5:1 aa element contrast, High contrast border, Emphasis elements
button-separator: 3:1 aa element contrast, Fluid button separator
decorative-01: "Light" variant elements
text-01: Primary text, Body copy, Headers, Hover text color for text-02 
text-02: Secondary text, Input labels 
text-03: Placeholder text
text-04: Text on interactive colors
text-05: Tertiary text, Help text, text-error, Error message text
link-01: Primary links, Ghost button, 
inverse-link: Links on inverse-02 backgrounds
icon-01: Primary icons
icon-02: Secondary icons
icon-03: Icons on interactive colors, Icons on non-ui colors, 
field-01: Default input fields, Fields on ui-backgrounds, 
field-02: "Light" variant input fields, Fields on ui-01 backgrounds, 
inverse-01: Inverse text color, Inverse icon color, 
inverse-02: High contrast backgrounds, High contrast elements, 
support-01: Error
support-02: Success
support-03: Warning
support-04: Information
inverse-support-01: Danger in high contrast moments
inverse-support-02: Success in high contrast moments
inverse-support-03: Warning in high contrast moments
inverse-support-04: Information in high contrast moments
overlay-01: Background overlay
focus: Focus border, Focus underline, 
inverse-focus-ui: Focus on high contrast moments
hover-primary: interactive-01 hover
hover-primary-text: interactive-01 text hover
hover-secondary: interactive-02 hover
hover-tertiary: interactive-03 hover, inverse-01 hover, 
hover-ui: ui-01 hover, ui-02 hover, Transparent background hover, 
hover-ui-light: "Light" variant hover
hover-selected-ui: Selected row hover
hover-danger: Danger hover, support-01 hover, hover-row, Row hover
inverse-hover-ui: Hover for inverse-02
active-primary: interactive-01 active
active-secondary: interactive-02 active, inverse-01 active
active-tertiary: interactive-03 active
active-ui: ui-01 active, ui-02 active 
active-danger: Danger active, support-01 active
selected-ui: Selected UI elements
highlight: interactive-01 highlight
skeleton-01: Skeleton state of graphics
skeleton-02: Skeleton state of texts
visited-link: Visited links
disabled-01: Disabled fields, Disabled backgrounds, Disabled border
disabled-02: Disabled elements on disabled-01, Disabled label, Disabled text on disabled-01, Disabled icons, Disabled border 
disabled-03: Disabled text on disabled-02, Disabled icons on disabled-02

Issues:
# Treeview, ListView, TableView Icons Not checked
# playstyle and volume controls need bindings and icons through Code 
>>> border-image: url(:/icon_pack/png/image.png)0 0 0 0 stretch stretch;

*/


/* BackGround ------------------------------------------------------------ */ 
    QWidget#centralwidget{
        background-color: $ui-01;
        padding: 0px;
        color: $text-01;
    }

    QWidget#apollo_FR_footer,
    QWidget#apollo_FR_NPQ_footer{
        background-color: $ui-01;
        border: 0px solid $ui-background;
        color: $text-01;
    }

/*Tab Headers ------------------------------------------------------------- */
    QWidget#apollo_HDLBD_nowplayong_queue{        
        background-color: $ui-background;
        border-left: 2px solid $ui-02;
        font-size: 12px;
        min-height: 24px;
        min-width: 64px;
        color: $text-01;
    }

    QWidget#frame_3,
    QWidget#frame_2,
    QWidget#frame{        
        background-color: $ui-01;
        border-bottom: 1px solid $ui-background;        
        min-height: 24px;
        min-width: 64px;
        color: $text-01;
    }



/* Search Input Widgets --------------------------------------------------- */ 
    QWidget#apollo_LEDT_LBT_main_search,
    QWidget#apollo_LEDT_LBT_groupsearch,
    QWidget#apollo_LEDT_NPQ_main_search{
        background-color: $ui-background;
        border: 1px solid $ui-02;
        border-radius: 4px;
        color: $text-01;
        min-height: 24px;  
    }

    QWidget#apollo_LEDT_LBT_main_search:hover,
    QWidget#apollo_LEDT_LBT_groupsearch:hover,
    QWidget#apollo_LEDT_NPQ_main_search:hover{
        border: 1px solid $interactive-04;
        min-height: 24px;        
        }

/*Pixmap Qlabel ------------------------------------------------------------*/
    QWidget#apollo_PIXLB_albumcover{    
        background-color: $ui-background;
        border: 1px solid $ui-02;        
    }
    QWidget#apollo_PIXLB_position,
    QWidget#apollo_PIXLB_NPQ_position{
        background-color: $ui-background;    
        min-width: 16px;      
    }

    QWidget#apollo_PIXLB_NPQ_albumcover{
        background-color: $ui-background;
        border: 0px solid $ui-02; 
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;       
    }

    QWidget#apollo_PIXLB_albumcover:hover{  
        background-color: $ui-background;
        border: 1px solid $interactive-04;        
    }

    QWidget#apollo_PIXLB_NPQ_albumcover:hover{
        background-color: $ui-background;
        border: 1px solid $interactive-04; 
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;       
    }

/* QTreeView QListView QTableView ----------------------------------------- 
    QTreeView:branch:selected, QTreeView:branch:hover {
        background-color: transparent;
    }

    QTreeView:branch:has-siblings:!adjoins-item {
        border-image: url(":/icon_pack/png/24/branch_line_icon-02.png");
    }

    QTreeView:branch:has-siblings:adjoins-item {
        border-image: url(":/icon_pack/png/24/branch_more_icon-02.png");
    }

    QTreeView:branch:!has-children:!has-siblings:adjoins-item {
        border-image: url(":/icon_pack/png/24/branch_end_icon-02.png");
    }

    QTreeView:branch:has-children:!has-siblings:closed,
    QTreeView:branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(":/icon_pack/png/24/branch_closed_icon-02.png");
    }

    QTreeView:branch:open:has-children:!has-siblings, 
    QTreeView:branch:open:has-children:has-siblings {
        border-image: none;
        image: url(":/icon_pack/png/24/branch_open_icon-02.png");
    }

    QTreeView:branch:has-children:!has-siblings:closed:hover, 
    QTreeView:branch:closed:has-children:has-siblings:hover {
        image: url(":/icon_pack/png/24/branch_closed_icon-02.png");
    }

    QTreeView:branch:open:has-children:!has-siblings:hover, 
    QTreeView:branch:open:has-children:has-siblings:hover {
        image: url(":/icon_pack/png/24/branch_open_icon-02.png");
    }

    QTreeView::indicator:checked,
    QListView::indicator:checked {
        image: url(":/icon_pack/png/24/checkbox--checked_icon-02.png");
    }

    QTreeView::indicator:checked:hover, 
    QTreeView::indicator:checked:focus, 
    QTreeView::indicator:checked:pressed,
    QListView::indicator:checked:hover,
    QListView::indicator:checked:focus,
    QListView::indicator:checked:pressed {
        image: url(":/icon_pack/png/checkbox_checked.png");
    }

    QTreeView::indicator:unchecked,
    QListView::indicator:unchecked {
        image: url(":/icon_pack/png/checkbox_unchecked.png");
    }

    QTreeView::indicator:unchecked:hover, 
    QTreeView::indicator:unchecked:focus, 
    QTreeView::indicator:unchecked:pressed,
    QListView::indicator:unchecked:hover,
    QListView::indicator:unchecked:focus,
    QListView::indicator:unchecked:pressed {
        image: url(":/icon_pack/png/checkbox_unchecked_focus.png");
    }

    QTreeView::indicator:indeterminate,
    QListView::indicator:indeterminate {
        image: url(":/icon_pack/png/checkbox_indeterminate.png");
    }

    QTreeView::indicator:indeterminate:hover, 
    QTreeView::indicator:indeterminate:focus,
    QTreeView::indicator:indeterminate:pressed,
    QListView::indicator:indeterminate:hover,
    QListView::indicator:indeterminate:focus,
    QListView::indicator:indeterminate:pressed {
        image: url(":/icon_pack/png/checkbox_indeterminate_focus.png");
    }

    QTreeView,
    QListView,
    QTableView,
    QColumnView {
        background-color: $ui-01;        
        color: $text-02;
        gridline-color: none;
    }

    QTreeView:disabled,
    QListView:disabled,
    QTableView:disabled,
    QColumnView:disabled {
        background-color: $disabled-02;
        color: $disabled-03;
    }

    QTreeView::item,
    QListView::item,
    QTableView::item,
    QColumnView::item{
        background-color: $ui-background;
        max-height: 24px;
        padding: 8px;
        border: 0px solid transparent;
        text-align: center;
    }

    QTreeView::item:alternate,
    QListView::item:alternate,
    QTableView::item:alternate,
    QColumnView::item:alternate{
        background-color: $ui-01;
        max-height: 24px;
        padding: 8px;
        border: 0px solid transparent;
        text-align: center;

    }

    QTreeView::item:pressed,
    QListView::item:pressed,
    QTableView::item:pressed,
    QColumnView::item:pressed {
        background-color: $ui-02;
        color: $text-01;
    }

    QTreeView::item:selected:active,
    QListView::item:selected:active,
    QTableView::item:selected:active,
    QColumnView::item:selected:active {
        background-color: $ui-02;
        color: $text-01;

    }

    QTreeView::item:selected:!active,
    QListView::item:selected:!active,
    QTableView::item:selected:!active,
    QColumnView::item:selected:!active {
        background-color: $ui-02;
        color: $text-01;
    }


    QTreeView::item:alternate:pressed,
    QListView::item:alternate:pressed,
    QTableView::item:alternate:pressed,
    QColumnView::item:alternate:pressed{
        background-color: $ui-02-alt;
        color: $text-01;
    }

    QTreeView::item:alternate:selected:active,
    QListView::item:alternate:selected:active,
    QTableView::item:alternate:selected:active,
    QColumnView::item:alternate:selected:active{
        background-color: $ui-02-alt;
        color: $text-01;

    }

    QTreeView::item:alternate:selected:!active,
    QListView::item:alternate:selected:!active,
    QTableView::item:alternate:selected:!active,
    QColumnView::item:alternate:selected:!active{
        background-color: $ui-02-alt;
        color: $text-02;
    }


    QTableCornerButton::section {
        background-color: $ui-01;
        border-right: 1px solid $ui-background;
        border-bottom: 1px solid $ui-background;
        border-radius: 0px;
    }
    */

/* QTableView ------------------------------------------------------------ */

    QTableView{
        background-color: $ui-01;        
        color: $text-02;
        gridline-color: none;
    }

    QTableView:disabled{
        background-color: $disabled-02;
        color: $disabled-03;
    }

    QTableView::item{
        background-color: $ui-background;
        max-height: 24px;
        padding: 4px;
        border: 0px solid transparent;
        text-align: center;
    }

    QTableView::item:alternate{
        background-color: $ui-01;
        max-height: 24px;
        padding: 4px;        
        border: 0px solid transparent;
        text-align: center;

    }

    QTableView::item:pressed{
        background-color: $ui-02;
        color: $text-01;
    }

    QTableView::item:selected:active{
        background-color: $ui-02;
        color: $text-01;

    }

    QTableView::item:selected:!active{
        background-color: $ui-02;
        color: $text-01;
    }

    QTableView::item:alternate:pressed{
        background-color: $ui-02-alt;
        color: $text-01;
    }

    QTableView::item:alternate:selected:active{
        background-color: $ui-02-alt;
        color: $text-01;

    }

    QTableView::item:alternate:selected:!active{
        background-color: $ui-02-alt;
        color: $text-02;
    }

    QTableCornerButton::section {
        background-color: $ui-01;
        border-right: 1px solid $ui-background;
        border-bottom: 1px solid $ui-background;
        border-radius: 0px;
    }

/* QHeaderView ------------------------------------------------------------ */
    
    QHeaderView {
        background-color: $ui-01;
        border: 0px transparent ;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
        min-height: 24px;
    }

    QHeaderView:disabled {
        background-color: $disabled-02;
        padding: 2px;
    }

    QHeaderView::section {
        background-color: $ui-01;
        color: $text-01;
        padding: 2px;
        border-radius: 0px;
        text-align: left;
    }

    QHeaderView::section:checked,
    QHeaderView::section:selected{        
        color: $text-01;
        background-color: transparent;
    }

    QHeaderView::section:checked:disabled {
        color: $disabled-03;
        background-color: $disabled-02;
    }

    QHeaderView::section::horizontal {
        padding-left: 4px;
        padding-right: 4px;
        border-left: 1px solid $ui-background;
        border-bottom: 1px solid $ui-background;
    }

    QHeaderView::section::horizontal::first, QHeaderView::section::horizontal::only-one {
        border-left: 1px solid $ui-01;
    }

    QHeaderView::section::horizontal:disabled {
        color: $disabled-02;
    }

    QHeaderView::section::vertical {
        padding-left: 4px;
        padding-right: 4px;
        border-right: 1px solid $ui-background;
    }

    QHeaderView::section::vertical::first, QHeaderView::section::vertical::only-one {
        border-top: 1px solid $ui-01;
    }

    QHeaderView::section::vertical:disabled {
        color: $disabled-02;
    }

    QHeaderView::down-arrow {
        /* Those settings (border/width/height/background-color) solve bug */
        /* transparent arrow background and size */
        background-color: transparent;
        border: none;
        height: 16px;
        width: 16px;
        padding-left: 2px;
        padding-right: 2px;
        image: url(":/icon_pack/png/24/branch_open_icon-02.png");
    }

    QHeaderView::up-arrow {
        background-color: transparent;
        border: none;
        height: 16px;
        width: 16px;
        padding-left: 2px;
        padding-right: 2px;
        image: url(":/icon_pack/png/x24/caret--sort--up_icon-02.png");
    }

/* QSplitter -------------------------------------------------------------- */
    QSplitter::handle {
        background-color: $ui-background;s
    }

    QSplitter::handle:hover {
        background-color: $interactive-04;
        border-color: 1px solid $interactive-04;
    }

/* QSlider ---------------------------------------------------------------- */
    QSlider{
        max-height: 10px;
    }
    QSlider:disabled {
        background: $disabled-02;
    }

    QSlider:focus {
        border: $focus;
    }

    QSlider::groove:horizontal {
        background: $ui-03;
        border: 1px solid $ui-03;
        height: 2px;
        border-radius: 2px;
    }

    QSlider::handle:horizontal {
        background: $ui-05;
        border: 1px solid $ui-05;
        width: 8px;
        height: 8px;
        margin: -4px 0px;
        border-radius: 4px;
    }

    QSlider::sub-page:horizontal {
        background: $ui-05;
        border: 1px solid $ui-05;
        height: 4px;
        margin: 0px;
        border-radius: 2px;
    }

    QSlider::sub-page:horizontal:active {
        background: $interactive-04;
        border: 1px solid $interactive-04;
    }

    QSlider::groove:vertical {
        background: $ui-03;
        border: 1px solid $ui-03;
        height: 2px;
        margin: 0px;
        border-radius: 2px;
    }

    QSlider::handle:vertical {
        background: $ui-05;
        border: 1px solid $ui-05;
        width: 8px;
        height: 8px;
        margin: -4px 0px;
        border-radius: 4px;
    }

    QSlider::add-page:vertical {
        background: $ui-05;
        border: 1px solid $ui-05;
        height: 4px;
        margin: 0px;
        border-radius: 4px;
    }

    QSlider::add-page:vertical:active {
        background: $interactive-04;
        border: 1px solid $interactive-04;
    }

/* QScrollBar -------------------------------------------------------------- */

    /*Horizontal*/
        QScrollBar:horizontal {
            height: 10px;
            border: 0px solid transparent;
            border-radius: 2px;
            background-color: transparent;
            margin: 0px;
        }

        QScrollBar::handle:horizontal {
            background-color: $ui-04;
            border: 1px solid $ui-background;
            border-radius: 2px;
        }

        QScrollBar::handle:horizontal:hover {
            background-color: $ui-05;
            border: 1px solid $ui-background;
            border-radius: 2px;
        }

        QScrollBar::handle:horizontal:focus {
            border: 1px solid $focus;
        }

        QScrollBar::add-line:horizontal {
            margin: 3px 0px 3px 0px;
            border-image: transparent;
            height: 0px;
            width: 0px;
            border-image: transparent;
            subcontrol-position: right;
            subcontrol-origin: margin;
        }

        QScrollBar::add-line:horizontal:hover, QScrollBar::add-line:horizontal:on {
            border-image: transparent;
            subcontrol-position: right;
            subcontrol-origin: margin;
        }

        QScrollBar::sub-line:horizontal {
            margin: 3px 0px 3px 0px;
            border-image: transparent;
            height: 0px;
            width: 0px;
            border-image: transparent;
            subcontrol-position: left;
            subcontrol-origin: margin;
        }

        QScrollBar::sub-line:horizontal:hover, QScrollBar::sub-line:horizontal:on {
            border-image: transparent;
            subcontrol-position: left;
            subcontrol-origin: margin;
        }

        QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
            background: transparent;
        }

    /*Vertical*/
        QScrollBar:vertical {
            background-color: transparent;
            width: 12px;
            margin: 0px;
            border: 1px solid transparent;
            border-radius: 2px;
        }

        QScrollBar::handle:vertical {
            background-color: $ui-04;
            border: 1px solid $ui-background;
            min-height: 16px;
            border-radius: 2px;
        }

        QScrollBar::handle:vertical:hover {
            background-color: $ui-05;
            border: 1px solid transparent;
            border-radius: 2px;
            min-height: 16px;
        }

        QScrollBar::handle:vertical:focus {
            border: 1px solid $focus;
        }

        QScrollBar::add-line:vertical {
            margin: 3px 0px 3px 0px;
            border-image: transparent;
            height: 0px;
            width: 0px;
            subcontrol-position: bottom;
            subcontrol-origin: margin;
        }

        QScrollBar::add-line:vertical:hover, QScrollBar::add-line:vertical:on {
            border-image: transparent;
            height: 0px;
            width: 0px;
            subcontrol-position: bottom;
            subcontrol-origin: margin;
        }

        QScrollBar::sub-line:vertical {
            margin: 3px 0px 3px 0px;
            border-image: transparent;
            height: 0px;
            width: 0px;
            subcontrol-position: top;
            subcontrol-origin: margin;
        }

        QScrollBar::sub-line:vertical:hover, QScrollBar::sub-line:vertical:on {
            border-image: transparent;
            height: 0px;
            width: 0px;
            subcontrol-position: top;
            subcontrol-origin: margin;
        }

        QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
            background: none;
        }

        QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
            background: none;
        }

/* QTabWiget -------------------------------------------------------------- */
    QTabWidget {
        border-color: 1px solid $interactive-04;
        background-color: $ui-background;
    }

    QTabWidget QWidget {
        border-color: 1px solid $interactive-04;
    }

    QTabWidget::pane {
        border: 0;
        border-radius: 4px;
        margin: 0px;
        /* Fixes double border inside pane with pyqt5 */
        padding: 0px;
        background-color: transparent;
    }

    /* QTabBar ----------------------------------------------------------------- */
        QTabBar {
            background-color: $ui-background;       
            qproperty-drawBase: 0;
            border-radius: 4px;
            margin: 0px;
            padding: 2px;
            border: 0;
            /* left: 5px; move to the right by 5px - removed for fix */
        }
        
        QTabBar::tab {
            background-color: $ui-background;
            border-right: 1px solid $ui-02;
            color: $text-02;
            font-size: 12px;
            min-height: 24px;
            min-width: 80px;
            padding-right: 8px;
            padding-left: 8px;
        }

        QTabBar::tab:selected {
            background-color: $ui-01;
            border-bottom: 1px solid $interactive-04;
            color: $text-02;
        }

        QTabBar::tab:hover {
            background-color: $ui-04;
            color: $text-01;
            border-right: 1px solid $ui-background;        
        }

/* QMenu ------------------------------------------------------------------ */
    QMenu {
        border: 1px solid $ui-background;
        background-color: $ui-01;
        color: $text-02;
        margin: 0px;
    }

    QMenu::separator {
        height: 1px;
        background-color: $ui-background;
        color: $text-02;
    }

    QMenu::icon {
        background-color: $ui-background;
        margin: 0px;
        padding-left: 8px;
    }

    QMenu::item{
        background-color: $ui-01;
        padding: 4px 24px 4px 24px;
        color: $text-01;
        /* Reserve space for selection border */
    }

    QMenu::item:pressed {
        background: $selected-ui;
        color: $text-01;
        border-bottom: 1px solid $ui-04;
    }

    QMenu::item:selected:active {
        background: $selected-ui;
        color: $text-01;
        border-bottom: 1px solid $interactive-01;
    }

    QMenu::item:selected:!active {
        background: $ui-01;
        border-bottom: 1px solid $ui-04;
        color: $text-01;
    }

    QMenu::indicator {
        width: 16px;
        height: 16px;
        padding-left: 0px;
        /* non-exclusive indicator = check box style indicator (see QActionGroup::setExclusive) */
        /* exclusive indicator = radio button style indicator (see QActionGroup::setExclusive) */
    }

    QMenu::indicator:non-exclusive:unchecked {
        image: url(":/icon_pack/png/32/checkbox_icon-01.png");
    }

    QMenu::indicator:non-exclusive:unchecked:selected {
        image: url(":/icon_pack/png/32/checkbox_disabled-02.png");
    }

    QMenu::indicator:non-exclusive:checked {
        image: url(":/icon_pack/png/32/checkbox--checked_icon-01.png");
    }

    QMenu::indicator:non-exclusive:checked:selected {
        image: url(":/icon_pack/png/32/checkbox--checked_disabled-02.png");
    }

    QMenu::indicator:exclusive:unchecked {
        image: url(":/icon_pack/png/32/radio_unchecked.png");
    }

    QMenu::indicator:exclusive:unchecked:selected {
        image: url(":/icon_pack/png/32/radio_unchecked_disabled.png");
    }

    QMenu::indicator:exclusive:checked {
        image: url(":/icon_pack/png/32/radio_checked.png");
    }

    QMenu::indicator:exclusive:checked:selected {
        image: url(":/icon_pack/png/32/radio_checked_disabled.png");
    }

    QMenu::right-arrow {
        image: url(":/icon_pack/png/32/branch_closed_icon-01.png");  
        height: 20px;
        width: 20px;
    }

/* Primary QPushButton */
    QPushButton{
        background-color: $interactive-01;
        color: $text-04;
        border: 0px solid Transparent;
        padding: 8px;
    }

    QPushButton:disabled{
        background-color: $disabled-02;
        color: $disabled-03;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:hover{
        background-color: $hover-primary;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:checked,
    QPushButton:pressed{
        background-color: $active-primary;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

/* Secondary QPushButton */

    QPushButton{
        background-color: $interactive-02;
        color: $text-04;
        border: 0px solid Transparent;
        padding: 8px;
    }

    QPushButton:disabled{
        background-color: $disabled-02;
        color: $disabled-03;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:hover{
        background-color: $hover-secondary;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:checked,
    QPushButton:pressed{
        background-color: $active-secondary;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

/* Tertiary QPushButton */

    QPushButton{
        background-color: Transparent;
        color: $interactive-01;
        border: 1px solid $interactive-01;
        padding: 8px;
    }

    QPushButton:disabled{
        background-color: $disabled-02;
        color: $disabled-03;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:hover{
        background-color: $hover-primary;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:checked,
    QPushButton:pressed{
        background-color: $active-primary;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

/* Ghost QPushButton */

    QPushButton{
        background-color: Transparent;
        color: $link-01;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:disabled{
        background-color: $disabled-02;
        color: $disabled-03;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:hover{
        background-color: $hover-ui;
        color: $hover-primary-text;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:checked,
    QPushButton:pressed{
        background-color: $active-ui;
        color: $hover-primary-text;
        border: 1px solid Transparent;
        padding: 8px;
    }

/* Danger QPushButton */

    QPushButton{
        background-color: $support-01;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:disabled{
        background-color: $disabled-02;
        color: $disabled-03;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:hover{
        background-color: $hover-danger;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

    QPushButton:checked,
    QPushButton:pressed{
        background-color: $active-danger;
        color: $text-04;
        border: 1px solid Transparent;
        padding: 8px;
    }

/* QToolButton ------------------------------------------------------------ */
    QToolButton {
        background-color: $ui-background;
        color: $text-01;       
        border: none;      
        border-radius: 4px;
        padding-bottom: 1px;
        min-width: 24px;
        margin: 1px;
        /* The subcontrols below are used only in the DelayedPopup mode */
        /* The subcontrols below are used only in the MenuButtonPopup mode */
        /* The subcontrol below is used only in the InstantPopup or DelayedPopup mode */
    }

    
    QToolButton:checked {
        background-color: $ui-02;
        border-top: 1px solid $ui-01;        
    }

    QToolButton:checked:disabled {
        border: 1px solid $disabled-02;
    }

    QToolButton:pressed {
        border-bottom: 1px solid $interactive-01;        
    }

    QToolButton:disabled {
        border: none;
    }

    QToolButton:hover {
        border-bottom: 1px solid $interactive-01;
    }

    QToolButton[popupMode="0"] {
        padding-right: 2px;
        border-top: 1px solid $ui-01;        
    }

    QToolButton[popupMode="1"] {
        padding-right: 20px;
    }

    QToolButton[popupMode="1"]::menu-button {
        border-left: 1px solid $ui-03;
    }

    QToolButton[popupMode="1"]::menu-button:hover {
        border-bottom: 1px solid $interactive-01;
        border-left: 1px solid $hover-ui;
        border-radius: 0;
    }

    QToolButton[popupMode="2"] {
        padding-right: 2px;
    }

    QToolButton::menu-button {
        padding: 2px;
        border-radius: 0px;
        border-right: 0px solid $ui-03;
        border-bottom: 1px solid $ui-01;        
        width: 12px;
        outline: none;
    }

    QToolButton::menu-button:hover {
        border-bottom: 1px solid $ui-01;
    }

    QToolButton::menu-button:checked:hover {
        border-bottom: 1px solid $ui-01;
    }

    QToolButton::menu-indicator {
        image: url(":/icon_pack/png/24/caret--sort--down_icon-03.png");
        height: 16px;
        width: 16px;
        top: 0;
        left: -2px;
    }

    QToolButton::menu-arrow {
        image: url(":/icon_pack/png/24/caret--sort--down_icon-03.png");
        height: 16px;
        width: 16px;
    }

    QToolButton::menu-arrow:hover {
        image: url(":/icon_pack/png/24/caret--sort--down_icon-01.png");
    }

/* Library Tab Buttons */

/* NowPlaying Tab Buttons */

/* Global Footer Buttons */

    /* apollo_psb_pause --------------------------------------------------*/
        QPushButton#apollo_PSB_pause{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/pause_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 0px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_pause{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/pause_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 0px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_pause{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/pause_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;                
        }

        QPushButton:checked#apollo_PSB_pause,
        QPushButton:pressed#apollo_PSB_pause{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/pause_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;            
        }

    /* apollo_psb_play --------------------------------------------------*/
        QPushButton#apollo_PSB_play{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/play_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 0px solid Transparent;                    
        }
        
        QPushButton:disabled#apollo_PSB_play{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/play_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 0px solid Transparent;                                        
        }
        
        QPushButton:hover#apollo_PSB_play{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/play_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;                                        
        }

        QPushButton:checked#apollo_PSB_play,
        QPushButton:pressed#apollo_PSB_play{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/play_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;                                    
        }

    /* apollo_psb_playstyle --------------------------------------------------*/
        QPushButton#apollo_PSB_playstyle{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/query-queue_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_playstyle{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/query-queue_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_playstyle{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/query-queue_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_playstyle,
        QPushButton:pressed#apollo_PSB_playstyle{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/query-queue_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_seekb --------------------------------------------------*/
        QPushButton#apollo_PSB_seekb{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/rewind--5_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_seekb{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/rewind--5_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_seekb{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/rewind--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_seekb,
        QPushButton:pressed#apollo_PSB_seekb{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/rewind--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_seekf --------------------------------------------------*/
        QPushButton#apollo_PSB_seekf{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/forward--5_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;           
        }
        
        QPushButton:disabled#apollo_PSB_seekf{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/forward--5_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;                               
        }
        
        QPushButton:hover#apollo_PSB_seekf{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/forward--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;                             
        }

        QPushButton:checked#apollo_PSB_seekf,
        QPushButton:pressed#apollo_PSB_seekf{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/forward--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;                            
        }

    /* apollo_psb_skipback --------------------------------------------------*/
        QPushButton#apollo_PSB_skipback{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/skip--back_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_skipback{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/skip--back_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_skipback{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/skip--back_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_skipback,
        QPushButton:pressed#apollo_PSB_skipback{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/skip--back_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_skipfront --------------------------------------------------*/
        QPushButton#apollo_PSB_skipfront{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/skip--forward_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_skipfront{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/skip--forward_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_skipfront{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/skip--forward_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_skipfront,
        QPushButton:pressed#apollo_PSB_skipfront{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/skip--forward_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_stop --------------------------------------------------*/
        QPushButton#apollo_PSB_stop{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/stop_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;
        }
        
        QPushButton:disabled#apollo_PSB_stop{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/stop_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;
        }
        
        QPushButton:hover#apollo_PSB_stop{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/stop_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

        QPushButton:checked#apollo_PSB_stop,
        QPushButton:pressed#apollo_PSB_stop{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/stop_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

    /* apollo_psb_volume_main --------------------------------------------------*/
        QPushButton#apollo_PSB_volume_main{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/volume--up_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;
        }
        
        QPushButton:disabled#apollo_PSB_volume_main{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/volume--up_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;
        }
        
        QPushButton:hover#apollo_PSB_volume_main{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/volume--up_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

        QPushButton:checked#apollo_PSB_volume_main,
        QPushButton:pressed#apollo_PSB_volume_main{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/volume--up_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

/* NPQ Footer Buttons */

    /* apollo_psb_NPQ_pause --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_pause{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/pause_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 0px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_pause{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/pause_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 0px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_NPQ_pause{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/pause_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;                
        }

        QPushButton:checked#apollo_PSB_NPQ_pause,
        QPushButton:pressed#apollo_PSB_NPQ_pause{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/pause_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;            
        }

    /* apollo_psb_NPQ_play --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_play{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/play_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 0px solid Transparent;                    
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_play{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/play_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 0px solid Transparent;                                        
        }
        
        QPushButton:hover#apollo_PSB_NPQ_play{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/play_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;                                        
        }

        QPushButton:checked#apollo_PSB_NPQ_play,
        QPushButton:pressed#apollo_PSB_NPQ_play{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/play_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 0px solid Transparent;                                    
        }

    /* apollo_psb_NPQ_playstyle --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_playstyle{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/query-queue_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_playstyle{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/query-queue_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_NPQ_playstyle{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/query-queue_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_NPQ_playstyle,
        QPushButton:pressed#apollo_PSB_NPQ_playstyle{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/query-queue_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_NPQ_seekb --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_seekb{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/rewind--5_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_seekb{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/rewind--5_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_NPQ_seekb{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/rewind--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_NPQ_seekb,
        QPushButton:pressed#apollo_PSB_NPQ_seekb{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/rewind--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_NPQ_seekf --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_seekf{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/forward--5_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;           
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_seekf{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/forward--5_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;                               
        }
        
        QPushButton:hover#apollo_PSB_NPQ_seekf{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/forward--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;                             
        }

        QPushButton:checked#apollo_PSB_NPQ_seekf,
        QPushButton:pressed#apollo_PSB_NPQ_seekf{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/forward--5_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;                            
        }

    /* apollo_psb_NPQ_skipback --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_skipback{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/skip--back_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_skipback{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/skip--back_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_NPQ_skipback{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/skip--back_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_NPQ_skipback,
        QPushButton:pressed#apollo_PSB_NPQ_skipback{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/skip--back_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_NPQ_skipfront --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_skipfront{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/skip--forward_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;            
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_skipfront{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/skip--forward_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;            
        }
        
        QPushButton:hover#apollo_PSB_NPQ_skipfront{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/skip--forward_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

        QPushButton:checked#apollo_PSB_NPQ_skipfront,
        QPushButton:pressed#apollo_PSB_NPQ_skipfront{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/skip--forward_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;            
        }

    /* apollo_psb_NPQ_stop --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_stop{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/stop_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_stop{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/stop_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;
        }
        
        QPushButton:hover#apollo_PSB_NPQ_stop{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/stop_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

        QPushButton:checked#apollo_PSB_NPQ_stop,
        QPushButton:pressed#apollo_PSB_NPQ_stop{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/stop_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

    /* apollo_psb_NPQ_volume_main --------------------------------------------------*/
        QPushButton#apollo_PSB_NPQ_volume_main{
            background-color: Transparent;
            background-image: url(':/icon_pack/png/32/volume--up_icon-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $link-01;
            border: 1px solid Transparent;
        }
        
        QPushButton:disabled#apollo_PSB_NPQ_volume_main{
            background-color: $disabled-02;
            background-image: url(':/icon_pack/png/32/volume--up_diabled-02.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $disabled-03;
            border: 1px solid Transparent;
        }
        
        QPushButton:hover#apollo_PSB_NPQ_volume_main{
            background-color: $hover-ui;
            background-image: url(':/icon_pack/png/32/volume--up_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }

        QPushButton:checked#apollo_PSB_NPQ_volume_main,
        QPushButton:pressed#apollo_PSB_NPQ_volume_main{
            background-color: $active-ui;
            background-image: url(':/icon_pack/png/32/volume--up_icon-03.png');
            background-position: center;
            background-repeat: no-repeat;
            color: $hover-primary-text;
            border: 1px solid Transparent;
        }