{% macro style_pushbutton(name = '', state = '', image = {}, padding = '0px 4px') -%}

QPushButton{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_primary:/{{image}}'); {%- endif %}
    background-color: {{FILTER_LUMINOSITY(QTCOLOR_PRIMARYCOLOR, 0)}};
    color: {{FILTER_OPACITY(QTCOLOR_PRIMARYTEXTCOLOR, 0.6)}};
    text-transform: uppercase;        
    font-weight: bold;    
    border-radius: 4px;
    margin: 0px;
    padding: {{padding}};
}

QPushButton:flat{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_primary:/{{image}}'); {%- endif %}
    background-color: transparent;
    color: {{FILTER_OPACITY(QTCOLOR_PRIMARYTEXTCOLOR, 0.6)}};
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    margin: 0px;
    padding: {{padding}};
}

QPushButton:hover{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_secondary:/{{image}}'); {%- endif %}
    background-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.1)}};
}

QPushButton:flat:hover{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_secondary:/{{image}}'); {%- endif %}
    background-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.1)}};
}

QPushButton:checked{{name}}{{state}},
QPushButton:pressed{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_secondary:/{{image}}'); {%- endif %}
    color: {{FILTER_LUMINOSITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.4)}};
    background-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.175)}};
}

QPushButton:flat:pressed{{name}}{{state}},
QPushButton:flat:checked{{name}}{{state}} {
    {%- if image != {} -%} image: url('icons_secondary:/{{image}}'); {%- endif -%}
    color: {{FILTER_LUMINOSITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.4)}};
    background-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.175)}};
}

QPushButton:disabled{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_disabled:/{{image}}'); {%- endif %}
    color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.1)}};
    background-color: transparent;
    border-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.1)}};;
}

QPushButton:flat:disabled{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_disabled:/{{image}}'); {%- endif %}
    color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.1)}};
    background-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 0.25)}};
    border: none;
}

QPushButton:checked:disabled{{name}}{{state}} {
    {% if image != {} -%} image: url('icons_disabled:/{{image}}'); {%- endif %}
    color: {{FILTER_OPACITY(QTCOLOR_SECONDARYCOLOR, 1)}};
    background-color: {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 1)}};
    border-color:  {{FILTER_OPACITY(QTCOLOR_SECONDARYLIGHTCOLOR, 1)}};
}
{%- endmacro %}
/* END REGION -------------------------------------------------------------- */


{{style_pushbutton()}}
{{style_pushbutton(image = 'alert-triangle.1.svg')}}
