/* ----------------------------------------------------------------------------
QTCOLOR_PRIMARYCOLOR
QTCOLOR_PRIMARYLIGHTCOLOR
QTCOLOR_PRIMARYDARKCOLOR
QTCOLOR_SECONDARYCOLOR
QTCOLOR_SECONDARYLIGHTCOLOR
QTCOLOR_SECONDARYDARKCOLOR
QTCOLOR_PRIMARYTEXTCOLOR
QTCOLOR_SECONDARYTEXTCOLOR
QTCOLOR_DANGER
QTCOLOR_WARNING
QTCOLOR_SUCCESS

FONT_FAMILY

FILTER_OPACITY
---------------------------------------------------------------------------- */


* {
    font-family: {{FONT_FAMILY}};
    color: {{QTCOLOR_SECONDARYTEXTCOLOR}};
    selection-background-color: {{QTCOLOR_PRIMARYLIGHTCOLOR}};
    selection-color: {{QTCOLOR_PRIMARYTEXTCOLOR}};
}

*:focus {
   outline: none;
}
