# ignore all compiled binaries
__pycache__/

#ignores all db files
**.db

#ignores all config files: default config is embedded in code
**.cfg

#ignores all PNG Images included in theme
apollo/resources/apptheme/theme/**/**/**.png

## ignores project files 
**.wpu
**.wpr