background-color: rgb(34, 34, 34);
font-family: "Times New Roman", Times, serif;
font-size: 12px;
letter-spacing: 1px;
word-spacing: 1px;
color: #80C8FC;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
border: 1px solid rgba(128,200,252,0.98);