/*
    QTMATERIAL_PRIMARYCOLOR
    QTMATERIAL_PRIMARYLIGHTCOLOR
    QTMATERIAL_SECONDARYCOLOR
    QTMATERIAL_SECONDARYLIGHTCOLOR
    QTMATERIAL_SECONDARYDARKCOLOR
    QTMATERIAL_PRIMARYTEXTCOLOR
    QTMATERIAL_SECONDARYTEXTCOLOR
*/

/* GLOBAL MODIFICATIONS */
QSizeGrip {{
    border: 1px solid black;
}}

QMainWindow::separator:horizontal,
QSplitter::handle:horizontal {{
    height: 1px;
    border: 1px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QMainWindow::separator:vertical,
QSplitter::handle:vertical {{
    width: 1px;
    border: 1px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QMainWindow::separator:vertical:hover,
QSplitter::handle:vertical:hover {{
    border: 1px solid {QTMATERIAL_PRIMARYLIGHTCOLOR};
}}

QMainWindow::separator:horizontal:hover,
QSplitter::handle:horizontal:hover {{
    border: 1px solid {QTMATERIAL_PRIMARYLIGHTCOLOR};
}}


/*  QSlider  */
QSlider:horizontal {{
    background: transparent;
    min-height: 12px;
    max-height: 12px;
}}

QSlider::groove:horizontal {{
    height: 4px;
    margin: 0 4px;
}}

QSlider::handle:horizontal {{
    width: 12px;
    height: 12px;
    margin: -4px;
}}

QSlider:vertical {{
    background: transparent;
    min-width: 16px;
    max-width: 16px;
}}

QSlider::groove:vertical {{
    width: 4px;
    margin: 0 4px;
}}

QSlider::handle:vertical {{
    width: 12px;
    height: 12px;
    margin: -4px;
}}

QSlider::add-page {{
    background: {QTMATERIAL_SECONDARYDARKCOLOR};
    border-radius: 2px;
}}

QSlider::sub-page {{
    background: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 2px;
}}

/* GLOBAL MODIFICATIONS END */


QFrame#main_content_splitterframe{{
    border: none;
}}

QFrame#playback_footer_frame{{
    background-color: {QTMATERIAL_SECONDARYCOLOR};
    border: none;
    border-radius: 0px;
    border-top: 2px solid {QTMATERIAL_SECONDARYLIGHTCOLOR};
}}

QFrame#frame_2,
QFrame#frame_3,
QFrame#frame_4,
QFrame#frame_5,
QFrame#frame_6,
QFrame#frame_8 {{
    background: transparent;
    border: none;
}}

QFrame#frame_7,
QFrame#frame_9,
QFrame#library_tab,
QFrame#playlists_tab,
QFrame#now_playing_tab,
QFrame#audio_fx_tab,
QFrame#frame {{
    background: {QTMATERIAL_SECONDARYCOLOR};
    border: none;
    border-radius: 0px;
}}

QGroupBox#queue_groupbox{{
    text-transform: uppercase;
    border: 0px;
    padding: 30px 0px 0px 0px;
    font-size: 14px;
}}

QGroupBox#lyrics_groupbox {{
    text-transform: uppercase;
    border: 0px;
    padding: 30px 0px 0px 0px;
    font-size: 14px;
    border-top: 2px solid {QTMATERIAL_SECONDARYCOLOR};
}}

QGroupBox::title#queue_groupbox {{
  color: {QTMATERIAL_SECONDARYTEXTCOLOR};
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 8px 16px;
  background-color: transparent;
  height: 32px;
}}

QGroupBox::title#lyrics_groupbox {{
  color: {QTMATERIAL_SECONDARYTEXTCOLOR};
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 8px 16px;
  background-color: transparent;
  height: 32px;
}}

QWidget#cover_pixmap {{
    border-radius: 2px;
    border: 2px solid {QTMATERIAL_SECONDARYCOLOR};
    background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
}}

QWidget#cover_pixmap_large {{
    border-radius: 2px;
    border: 2px solid {QTMATERIAL_SECONDARYCOLOR};
    background-color: {QTMATERIAL_SECONDARYCOLOR};
}}

QLineEdit {{
    background-color: {QTMATERIAL_SECONDARYDARKCOLOR};
    border: 0px;
}}

QMenu::item {{
  max-height: 28px;
  min-width: 96px;
  border: 0px solid transparent;
  color: {QTMATERIAL_SECONDARYTEXTCOLOR};
}}
/* BUTTON STYLESHEETS */
QPushButton#volume_pushbutton[volume_level=MUTE] {{
    image: url(theme_custom:/primary/volume-3.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#volume_pushbutton[volume_level=MUTE] {{
    image: url(theme_custom:/disabled/volume-3.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#volume_pushbutton[volume_level=NORMAL] {{
    image: url(theme_custom:/primary/volume-mid.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#volume_pushbutton[volume_level=NORMAL] {{
    image: url(theme_custom:/disabled/volume-mid.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#volume_pushbutton[volume_level=HALF] {{
    image: url(theme_custom:/primary/volume.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#volume_pushbutton[volume_level=HALF] {{
    image: url(theme_custom:/disabled/volume.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#volume_pushbutton[volume_level=FULL] {{
    image: url(theme_custom:/primary/volume.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#volume_pushbutton[volume_level=FULL] {{
    image: url(theme_custom:/disabled/volume.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#play_pushbutton[play_type=PLAY] {{
    image: url(theme_custom:/primary/player-play.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#play_pushbutton[play_type=PLAY] {{
    image: url(theme_custom:/disabled/player-play.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#play_pushbutton[play_type=PAUSE] {{
    image: url(theme_custom:/primary/player-pause.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#play_pushbutton[play_type=PAUSE] {{
    image: url(theme_custom:/disabled/player-pause.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#repeat_pushbutton[repeat=NONE] {{
    image: url(theme_custom:/disabled/repeat.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#repeat_pushbutton[repeat=NONE] {{
    image: url(theme_custom:/disabled/repeat.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#repeat_pushbutton[repeat=SINGLE] {{
    image: url(theme_custom:/primary/repeat-once.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#repeat_pushbutton[repeat=SINGLE] {{
    image: url(theme_custom:/disabled/repeat-once.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#repeat_pushbutton[repeat=QUEUE] {{
    image: url(theme_custom:/primary/repeat.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#repeat_pushbutton[repeat=QUEUE] {{
    image: url(theme_custom:/disabled/repeat.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#next_pushbutton {{
    image: url(theme_custom:/primary/player-skip-forward.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#next_pushbutton{{
    image: url(theme_custom:/disabled/player-skip-forward.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#prev_pushbutton {{
    image: url(theme_custom:/primary/player-skip-back.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#prev_pushbutton {{
    image: url(theme_custom:/disabled/player-skip-back.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#shuffle_pushbutton[shuffle=NONE] {{
    image: url(theme_custom:/disabled/shuffle-random-svgrepo-com.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#shuffle_pushbutton[shuffle=NONE] {{
    image: url(theme_custom:/disabled/shuffle-random-svgrepo-com.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#shuffle_pushbutton[shuffle=SHUFFLE] {{
    image: url(theme_custom:/primary/shuffle-random-svgrepo-com.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#shuffle_pushbutton[shuffle=SHUFFLE] {{
    image: url(theme_custom:/disabled/shuffle-random-svgrepo-com.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#queue_pushbutton {{
    image: url(theme_custom:/primary/stack.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#queue_pushbutton{{
    image: url(theme_custom:/disabled/stack.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#audio_fx_pushbutton {{
    image: url(theme_custom:/primary/adjustments.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}
QPushButton:disabled#audio_fx_pushbutton{{
    image: url(theme_custom:/disabled/adjustments.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#switch_audio_pushbutton {{
    image: url(theme_custom:/primary/power.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#switch_audio_pushbutton{{
    image: url(theme_custom:/disabled/power.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#settings_pushbutton {{
    image: url(theme_custom:/primary/gear-2.1.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#settings_pushbutton{{
    image: url(theme_custom:/disabled/gear-2.1.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#playlists_tab_menu_pushbutton {{
    image: url(theme_custom:/primary/menu.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#playlists_tab_menu_pushbutton{{
    image: url(theme_custom:/disabled/menu.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#library_tab_add_pushbutton,
QPushButton#playlists_tab_add_pushbutton,
QPushButton#queue_tab_add_pushbutton {{
    image: url(theme_custom:/primary/plus.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#library_tab_add_pushbutton,
QPushButton:disabled#playlists_tab_add_pushbutton,
QPushButton:disabled#queue_tab_add_pushbutton {{
    image: url(theme_custom:/disabled/plus.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#library_tab_min_pushbutton,
QPushButton#playlists_tab_min_pushbutton,
QPushButton#queue_tab_min_pushbutton {{
    image: url(theme_custom:/primary/minus.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#library_tab_min_pushbutton,
QPushButton:disabled#playlists_tab_min_pushbutton,
QPushButton:disabled#queue_tab_min_pushbutton {{
    image: url(theme_custom:/disabled/minus.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton#library_tab_search_pushbutton,
QPushButton#playlists_tab_search_pushbutton,
QPushButton#queue_tab_search_pushbutton {{
    image: url(theme_custom:/primary/search.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}

QPushButton:disabled#library_tab_search_pushbutton,
QPushButton:disabled#playlists_tab_search_pushbutton,
QPushButton:disabled#queue_tab_search_pushbutton {{
    image: url(theme_custom:/disabled/search.svg);
    color: {QTMATERIAL_PRIMARYCOLOR};
    border-radius: 4px;
    padding: 4px
}}
/* BUTTON STYLESHEETS END*/
